<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="XamlImageConverter" type="XamlImageConverter.Configuration, XamlImageConverter.Web, Version=3.5.0.0, Culture=neutral, PublicKeyToken=60c2ec984bc1bb45"/>
  </configSections>
  <XamlImageConverter Log="true" Cache="~/Images/Cache"/>
  <appSettings/>
  <connectionStrings/>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="XamlImageConverter.Web, Version=3.5.0.0, Culture=neutral, PublicKeyToken=60c2ec984bc1bb45"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="xic" namespace="Silversite.Web.UI" assembly="XamlImageConverter.Web, Version=3.5.0.0, Culture=neutral, PublicKeyToken=60c2ec984bc1bb45"/>
      </controls>
    </pages>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <customErrors mode="Off"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <handlers>
      <add name="Xic" verb="*" path="*.xic.xaml" preCondition="integratedMode" type="Silversite.Web.XamlImageHandler, XamlImageConverter.Web, Version=3.5.0.0, Culture=neutral, PublicKeyToken=60c2ec984bc1bb45"/>
      <add name="XicXaml2Png" verb="*" path="*.xaml.png" preCondition="integratedMode" type="Silversite.Web.XamlImageHandler, XamlImageConverter.Web, Version=3.5.0.0, Culture=neutral, PublicKeyToken=60c2ec984bc1bb45"/>
      <add name="XicSvg2Png" verb="*" path="*.svg.png" preCondition="integratedMode" type="Silversite.Web.XamlImageHandler, XamlImageConverter.Web, Version=3.5.0.0, Culture=neutral, PublicKeyToken=60c2ec984bc1bb45"/>
      <add name="XicSvgz2Png" verb="*" path="*.svgz.png" preCondition="integratedMode" type="Silversite.Web.XamlImageHandler, XamlImageConverter.Web, Version=3.5.0.0, Culture=neutral, PublicKeyToken=60c2ec984bc1bb45"/>
      <add name="XicPsd2Png" verb="*" path="*.psd.png" preCondition="integratedMode" type="Silversite.Web.XamlImageHandler, XamlImageConverter.Web, Version=3.5.0.0, Culture=neutral, PublicKeyToken=60c2ec984bc1bb45"/>
		 <add name="XicXaml2Jpg" verb="*" path="*.xaml.jpg" preCondition="integratedMode" type="Silversite.Web.XamlImageHandler, XamlImageConverter.Web, Version=3.5.0.0, Culture=neutral, PublicKeyToken=60c2ec984bc1bb45"/>
		 <add name="XicSvg2Jpg" verb="*" path="*.svg.jpg" preCondition="integratedMode" type="Silversite.Web.XamlImageHandler, XamlImageConverter.Web, Version=3.5.0.0, Culture=neutral, PublicKeyToken=60c2ec984bc1bb45"/>
		 <add name="XicSvgz2Jpg" verb="*" path="*.svgz.jpg" preCondition="integratedMode" type="Silversite.Web.XamlImageHandler, XamlImageConverter.Web, Version=3.5.0.0, Culture=neutral, PublicKeyToken=60c2ec984bc1bb45"/>
		 <add name="XicPsd2Jpg" verb="*" path="*.psd.jpg" preCondition="integratedMode" type="Silversite.Web.XamlImageHandler, XamlImageConverter.Web, Version=3.5.0.0, Culture=neutral, PublicKeyToken=60c2ec984bc1bb45"/>
		 <add name="XicXaml2Pdf" verb="*" path="*.xaml.pdf" preCondition="integratedMode" type="Silversite.Web.XamlImageHandler, XamlImageConverter.Web, Version=3.5.0.0, Culture=neutral, PublicKeyToken=60c2ec984bc1bb45"/>
		 <add name="XicSvg2Pdf" verb="*" path="*.svg.pdf" preCondition="integratedMode" type="Silversite.Web.XamlImageHandler, XamlImageConverter.Web, Version=3.5.0.0, Culture=neutral, PublicKeyToken=60c2ec984bc1bb45"/>
		 <add name="XicSvgz2Pdf" verb="*" path="*.svgz.pdf" preCondition="integratedMode" type="Silversite.Web.XamlImageHandler, XamlImageConverter.Web, Version=3.5.0.0, Culture=neutral, PublicKeyToken=60c2ec984bc1bb45"/>
		 <add name="XicXaml2Gif" verb="*" path="*.xaml.gif" preCondition="integratedMode" type="Silversite.Web.XamlImageHandler, XamlImageConverter.Web, Version=3.5.0.0, Culture=neutral, PublicKeyToken=60c2ec984bc1bb45"/>
		 <add name="XicHandler" verb="*" path="XamlImageConverter.axd" preCondition="integratedMode" type="Silversite.Web.XamlImageHandler, XamlImageConverter.Web, Version=3.5.0.0, Culture=neutral, PublicKeyToken=60c2ec984bc1bb45"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>