<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="XamlImageConverter" type="XamlImageConverter.Configuration, XamlImageConverter.Web, Version=3.4.0.0, Culture=neutral, PublicKeyToken=60c2ec984bc1bb45" />
	</configSections>
	<XamlImageConverter Log="true" Cache="~/Images/Cache" />
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="XamlImageConverter.Web, Version=3.4.0.0, Culture=neutral, PublicKeyToken=60c2ec984bc1bb45" />
			</assemblies>
		</compilation>
		<pages>
			<controls>
				<add tagPrefix="xic" namespace="Silversite.Web" assembly="XamlImageConverters.Web, Version=3.4.0.0, Culture=neutral, PublicKeyToken=60c2ec984bc1bb45" />
			</controls>
		</pages>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		
		<customErrors mode="Off" />
           
		<httpHandlers>
			<add verb="*" path="*.xic.xaml;XamlImageConverter.axd;*.xaml.???;*.svg.???;*.psd.???;*.svgz.???;*.xaml.ps;*.svg.ps;*.psd.ps;*.svgz.ps" type="Silversite.Web.XamlImageConverter, XamlImageConverter.Web, Version=3.4.0.0, Culture=neutral, PublicKeyToken=60c2ec984bc1bb45" />
			<!--
			<add verb="*" path="*.xic.xaml;XamlImageConverter.axd" type="Silversite.Web.XamlImageConverter, XamlImageConverter.Web, Version=3.4.0.0, Culture=neutral, PublicKeyToken=60c2ec984bc1bb45"/>
			<add verb="*" path="*.xaml.jpg;*.xaml.png;*.xaml.gif;*.xaml.pdf;*.xaml.xps;*.xaml.eps;*.xaml.ps" type="Silversite.Web.XamlImageConverter, XamlImageConverter.Web, Version=3.4.0.0, Culture=neutral, PublicKeyToken=60c2ec984bc1bb45"/>
			<add verb="*" path="*.psd.jpg;*.psd.png;*.psd.gif;*.psd.pdf;*.psd.xps;*.psd.eps;*.psd.ps" type="Silversite.Web.XamlImageConverter, XamlImageConverter.Web, Version=3.4.0.0, Culture=neutral, PublicKeyToken=60c2ec984bc1bb45"/>
			<add verb="*" path="*.svg.jpg;*.svgz.jpg;*.svg.gif;*.svgz.gif;*.svg.png;*.svgz.png;*.svg.pdf;*.svgz.pdf;*.svg.eps;*.svgz.eps;*.svg.ps;*.svgz.ps" type="Silversite.Web.XamlImageConverter, XamlImageConverter.Web, Version=3.4.0.0, Culture=neutral, PublicKeyToken=60c2ec984bc1bb45"/>
		  -->
		
		</httpHandlers>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<handlers>
			<add name="Xic" verb="*" path="*.xic.xaml" preCondition="integratedMode" type="Silversite.Web.XamlImageHandler, XamlImageConverter.Web, Version=3.4.0.0, Culture=neutral, PublicKeyToken=60c2ec984bc1bb45" />
			<add name="XicXaml2Images" verb="*" path="*.xaml.???" preCondition="integratedMode" type="Silversite.Web.XamlImageHandler, XamlImageConverter.Web, Version=3.4.0.0, Culture=neutral, PublicKeyToken=60c2ec984bc1bb45" />
			<add name="XicXaml2Ps" verb="*" path="*.xaml.ps" preCondition="integratedMode" type="Silversite.Web.XamlImageHandler, XamlImageConverter.Web, Version=3.4.0.0, Culture=neutral, PublicKeyToken=60c2ec984bc1bb45" />
			<add name="XicSvg2Images" verb="*" path="*.svg.???" preCondition="integratedMode" type="Silversite.Web.XamlImageHandler, XamlImageConverter.Web, Version=3.4.0.0, Culture=neutral, PublicKeyToken=60c2ec984bc1bb45" />
			<add name="XicSvgz2Images" verb="*" path="*.svgz.???" preCondition="integratedMode" type="Silversite.Web.XamlImageHandler, XamlImageConverter.Web, Version=3.4.0.0, Culture=neutral, PublicKeyToken=60c2ec984bc1bb45" />
			<add name="XicSvg2Ps" verb="*" path="*.svg.ps" preCondition="integratedMode" type="Silversite.Web.XamlImageHandler, XamlImageConverter.Web, Version=3.4.0.0, Culture=neutral, PublicKeyToken=60c2ec984bc1bb45" />
			<add name="XicSvgz2Ps" verb="*" path="*.svgz.ps" preCondition="integratedMode" type="Silversite.Web.XamlImageHandler, XamlImageConverter.Web, Version=3.4.0.0, Culture=neutral, PublicKeyToken=60c2ec984bc1bb45" />
			<add name="XicPsd2Images" verb="*" path="*.psd.???" preCondition="integratedMode" type="Silversite.Web.XamlImageHandler, XamlImageConverter.Web, Version=3.4.0.0, Culture=neutral, PublicKeyToken=60c2ec984bc1bb45" />
			<add name="XicPsd2Ps" verb="*" path="*.psd.ps" preCondition="integratedMode" type="Silversite.Web.XamlImageHandler, XamlImageConverter.Web, Version=3.4.0.0, Culture=neutral, PublicKeyToken=60c2ec984bc1bb45" />
			<add name="XicHandler" verb="*" path="XamlImageConverter.axd" preCondition="integratedMode" type="Silversite.Web.XamlImageHandler, XamlImageConverter.Web, Version=3.4.0.0, Culture=neutral, PublicKeyToken=60c2ec984bc1bb45" />
		</handlers>
		<validation validateIntegratedModeConfiguration="false"/>
	</system.webServer>
</configuration>
